 .container {
   width:100%;
   height:318px;
   position:absolute;
   bottom: 0px;
   background: linear-gradient( rgba(0,0,0,0), rgba(0,0,0,0.4));
 }
 
 .controls {
   width:100%;
   height:54px; /* of figure's height */
   position:absolute;
   bottom: 0px;
   background: linear-gradient( rgba(0,0,0,0), rgba(0,0,0,0.3));
 }

 .controls[data-state=hidden] {
    display:none;
 }
 
 .controls[data-state=visible] {
    display:block;
 }

 .controls > * {
    float:left;
    height:100%;
    display:block;
 }
 
 .controls > *:first-child {
    margin-left:0;
 }

 .controls button {
    border:none;
    outline:none;
    cursor:pointer;
    background:transparent;
    background-size:contain;
    background-repeat:no-repeat;
    width:50px;
 }

 .controls button:hover, .controls button:focus {
    opacity:0.5;
 }

 .controls button[data-state="time"] {
   width: auto;
   color: white;
   font-size: medium;
   font-weight: bold;
 }

 .controls button[data-state="play"] {
    background-image: url('../data/play_arrow_white_24dp.svg');
    background-size: 30px;
    background-position: center;
 }
 
 .controls button[data-state="pause"] {
   background-image: url('../data/pause_white_24dp.svg');
   background-size: 30px;
   background-position: center;
 }

 .controls button[data-state="go-fullscreen"] {
   background-image: url('../data/fullscreen_white_24dp.svg');
   background-size: 30px;
   background-position: center;
   float: right;
 }

 .controls button[data-state="volume-on"] {
   background-image: url('../data/volume_up_white_24dp.svg');
   background-size: 30px;
   background-position: center;
 }

 .controls button[data-state="volume-off"] {
   background-image: url('../data/volume_off_white_24dp.svg');
   background-size: 30px;
   background-position: center;
 }

.progress {
   cursor:pointer;
   height : 6px;
   width: 100%;
   position:absolute;
   bottom: 54px;
   display: flex;
   justify-content: center;
}

.progress progress {
    width: calc(100vw - 60px);
    height: 100%;
    border:none;
}