.Navigator{
    right: 0;
    left: 0;
    bottom: 130px;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    display: flex;
    justify-content: center;
}

.Navigator > * {
    margin-left: 30px;
 }

 .Navigator > *:first-child {
    margin-left:0;
 }

.NButton{
    cursor: pointer;
}

.NButtonText{
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 0 0 15px rgba(0,0,0,0.8);
}