.Question{
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.QBox{
    margin-top: -10vh;
    width: 990px;
    height: 356px;
    background-color: white;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);;
}

.QBox > * {
    position: relative;
 }

.QTitle{
    color: black;
    margin-left: 50px;
    margin-top: 50px;
    font-family: "Jalnan";
    font-size: 36px;
    text-align: left;
    font-weight: bold;
}

.QStep{
    color: black;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 30px;
    font-family: "Jalnan";
    font-size: 36px;
    text-align: left;
}

.QText{
    margin-left: 50px;
    color: black;
    font-family: "Jalnan";
    font-size: 24px;
    text-align: left;
}

.QSelections{
    width: 990px;
    height: 60px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.QButtonText{
    color: black;
    font-family: "Jalnan";
    text-decoration: none;
    font-size: 18px;
}

.QButton{
    width: 174px;
    height: 60px;
    border-radius: 40px;
    border: 0;
    outline: 0;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);;
}

.QAnswer{
    width: 276px;
    height: 60px;
    border-radius: 40px;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: white;

    display: flex;
    justify-content: space-between;
    opacity: 1;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);;
}

.QSubmit{
    min-width: 90px;
    height: 60px;
    border-radius: 40px;
    border: 0;
    outline: 0;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    background-color: #14AE68;
    color: white;
}

.ResultToast{
    position: fixed;
    width: 424px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}