.Subconcept{
    right: 0;
    left: 0;
    bottom: 80px;
    width : 1194px;
    position: fixed;
    display: flex;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.Subconcept > * {
    margin-left: 30px;
 }

 .Subconcept > *:first-child {
    margin-left:0;
 }

.SButton{
    width : 174px;
    height : 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    text-align: center;
    background-color: #14AE68;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);;
}

.SButtonText{
    color: white;
    font-size: 14px;
    font-weight: bold;
}